<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>Survey.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SurveyController</display-name>
    <servlet-name>SurveyController</servlet-name>
    <servlet-class>com.survey.controller.SurveyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyController</servlet-name>
    <url-pattern>/survey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>com.survey.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/question</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.survey.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>com.survey.controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AssignSurveyController</display-name>
    <servlet-name>AssignSurveyController</servlet-name>
    <servlet-class>com.survey.controller.AssignSurveyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSurveyController</servlet-name>
    <url-pattern>/assign-survey</url-pattern>
  </servlet-mapping>
</web-app>